<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <meta charset="UTF-8">
  <title>Articles</title>
</head>
<body>
<div class="container">
  <div th:if="${not articlesByPage.hasContent()}"
       class="alert alert-info"
       role="alert">
    Article list is empty!
  </div>
  <div th:if="${articlesByPage.hasContent()}">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
    <tr>
      <th class="col-2">
        <a th:with="direction=${articlesByPage.sort.getOrderFor('title')?.direction}"
           th:href="@{/articles(sort='title,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase')}">
          Title
          <i class="bi"
             th:classappend="${direction?.name() eq 'ASC' ? 'bi-sort-down-alt' : 'bi-sort-down'}"
             th:if="${direction ne null}"></i>
        </a>
      </th>
      <th class="col-7">
        <a th:with="direction=${articlesByPage.sort.getOrderFor('content')?.direction}"
           th:href="@{/articles(sort='content,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase')}">
          Content
          <i class="bi"
             th:classappend="${direction?.name() eq 'ASC' ? 'bi-sort-down-alt' : 'bi-sort-down'}"
             th:if="${direction ne null}"></i>
        </a>
      </th>
      <th class="col-2">
        <a th:with="direction=${articlesByPage.sort.getOrderFor('author')?.direction}"
           th:href="@{/articles(sort='author,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase')}">
          Author
          <i class="bi"
             th:classappend="${direction?.name() eq 'ASC' ? 'bi-sort-down-alt' : 'bi-sort-down'}"
             th:if="${direction ne null}"></i>
        </a>
      </th>
      <th class="col-1">
        <a th:with="direction=${articlesByPage.sort.getOrderFor('date')?.direction}"
           th:href="@{/articles(sort='date,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase')}">
          Date
          <i class="bi"
             th:classappend="${direction?.name() eq 'ASC' ? 'bi-sort-numeric-down' : 'bi-sort-numeric-down-alt'}"
             th:if="${direction ne null}"></i>
        </a>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articlesByPage.content}">
      <td>
        <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}"></a>
      </td>
      <td th:text="${article.content}"></td>
      <td th:text="${article.author}"></td>
      <td th:text="${article.date}"></td>
      <td>
        <a th:href="@{/articles/{id}/delete(id=${article.id})}" class="text-danger">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center"

              th:with="pageSort=${articlesByPage.sort.toList().get(0)},
							sort=${pageSort.property + ','+ pageSort.direction + ',ignorecase'}">

            <li class="page-item"
            th:classappend="${articlesByPage.number eq 0 ? 'disabled' : ''}">
          <a class="page-link"
             th:href="@{/articles(page=${articlesByPage.number} - 1, sort=${sort})}">Previous</a>
        </li>
        <li class="page-item"
            th:each="articlePage: ${#numbers.sequence(0, articlesByPage.totalPages - 1)}"
            th:classappend="${articlePage eq articlesByPage.number ? 'active': ''}">
          <a class="page-link"
             th:href="@{/articles(page=${articlePage},sort=${sort})}"
             th:text="${articlePage} + 1"></a>
        </li>
        <li class="page-item"
            th:classappend="${articlesByPage.number eq articlesByPage.totalPages - 1 ? 'disabled' : ''}">
          <a class="page-link"
             th:href="@{/articles(page=${articlesByPage.number} + 1, sort=${sort})}">Next</a>
        </li>
      </ul>
    </nav>
      </div>
      <div class="col-2 text-end">
        <span th:text="'Total articles: ' + ${articlesByPage.totalElements}"/>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
