<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gantari&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:if="${article ne null}" th:text="${'Article ' + article.title + ' Details'}"></title>
</head>
<body th:action="@{/public/articles/{id}(id=${article.id})}">
<nav class="navbar navbar-light "
     style="background-color: #f0faf1; padding: 30px">
    <div class="container-fluid">
        <a th:href="@{/public/articles}">
            <img th:src="${url}"
                 style="height: 50px;"
                 th:href="@{/public/articles}">
        </a>
        <div class="d-flex justify-content-end"
             style="gap: 40px; align-items: center;">
            <a sec:authorize="hasRole('ADMIN')"
               th:href="@{/articles/{id}/update(id=${article.id})}"
               th:text="#{lt.codeacademy.blogApplication.articles.update}"
               class="text-decoration-none text-dark"
               style="font-family: 'Oswald', sans-serif; font-size: 20px;"></a>
            <a sec:authorize="hasRole('ADMIN')"
               th:href="@{/articles/{id}/delete(id=${article.id})}"
               th:text="#{lt.codeacademy.blogApplication.articles.delete}"
               class="text-decoration-none text-dark"
               style="font-family: 'Oswald', sans-serif; font-size: 20px;"></a>
            <a sec:authorize="hasRole('ADMIN')"
               th:href="@{/articles/save}"
               th:text="#{lt.codeacademy.blogApplication.articles.save}"
               class="text-decoration-none text-dark"
               style="font-family: 'Oswald', sans-serif; font-size: 20px;"></a>
            <div>
                <a sec:authorize="isAnonymous()"
                   th:href="@{/login}"
                   class="text-decoration-none text-dark">
                    <i class="bi bi-person fs-3"></i>
                </a>
                <div sec:authorize="isAuthenticated()"
                     class="dropdown">
                    <a class="text-decoration-none text-dark"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="bi bi-person fs-3"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light"
                        style="font-family: 'Oswald', sans-serif;">
                        <li class="d-flex justify-content-start user-name">
                            <div style="margin-right: 10px;"
                                 th:text="#{lt.codeacademy.blogApplication.articles.greetings}"></div>
                            <div sec:authentication="principal.name"></div>
                        </li>
                        <li style="font-family: 'EB Garamond', serif; font-size: 14px;">
                            <a class="dropdown-item d-flex justify-content-end"
                               th:href="@{/logout}"
                               th:text="#{lt.codeacademy.blogApplication.menu.logout}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <select id="language-switcher"
                        class="form-select success"
                        aria-label="Default select example">
                    <option value='' th:text="#{lt.codeacademy.blogApplication.language.switcher.select}"></option>
                    <option value="EN" th:text="#{lt.codeacademy.blogApplication.language.switcher.en}"></option>
                    <option value="LT" th:text="#{lt.codeacademy.blogApplication.language.switcher.lt}"></option>
                </select>
            </div>
        </div>
    </div>
</nav>
<div th:if="${article ne null}">
    <div class="articles" th:text="${article.title}"></div>
    <div class="total" th:text="${article.date}"></div>
    <div class="contentParent">
        <img class="articleImgChild" th:src="${article.image}">
        <div class="content" th:text="${article.content}"></div>
    </div>
    <div id="comment">
        <div th:if="${not commentsss.hasContent()}" style="font-family: 'EB Garamond', serif;">
            <div style="font-size: 15px;"
                 th:text="#{lt.codeacademy.blogApplication.articles.noComment}"></div>
            <div style="font-size: 18px;"
                 th:text="#{lt.codeacademy.blogApplication.articles.firstComment}"></div>
        </div>
        <div th:if="${commentsss.hasContent()}" class="userComment">
            <div>
                <div style="font-size: 30px; font-family: 'Oswald', sans-serif; margin-bottom: 5px;"
                     th:text="#{lt.codeacademy.blogApplication.articles.comments}"></div>
                <div th:text="#{lt.codeacademy.blogApplication.comments.paginator.total.comments(${commentsss.totalElements})}"
                     style="font-family: 'EB Garamond', serif;"></div>
            </div>
            <div th:each="comment : ${commentsss.content}" class="commentInfo">

                <div class="userInfo">
                    <div th:text="${comment.user.name}"></div>
                    <div th:text="${comment.date}"></div>
                </div>
                <div th:text="${comment.text}" class="commentText"></div>
                <div>
                    <a th:href="@{/comments/{id}/{idi}/delete(id=${comment.id}, idi=${article.id})}"
                       style="text-decoration: none; color: black; font-family: 'Oswald', sans-serif;}"
                       th:text="#{lt.codeacademy.blogApplication.articleDetails.comment.delete}"
                       sec:authorize="isAuthenticated()"
                       ></a>
                </div>
            </div>
            <div>
                <div th:if="${commentsss.totalElements > 6}">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center"

                            th:with="pageSort=${commentsss.sort.toList().get(0)},
							sort=${pageSort.property + ','+ pageSort.direction + ',ignorecase'}">

                            <li class="page-item"
                                th:classappend="${commentsss.number eq 0 ? 'disabled' : ''}">
                                <a class="page-link "
                                   th:href="@{/articles/{id}(id=${article.id}, page=${commentsss.number} - 1, sort=${sort})}"
                                   th:text="#{lt.codeacademy.blogApplication.articles.paginator.previous}"></a>
                            </li>
                            <li class="page-item"
                                th:each="commentPage: ${#numbers.sequence(0, commentsss.totalPages - 1)}"
                                th:classappend="${commentPage eq commentsss.number ? 'active': ''}">
                                <a class="page-link"
                                   th:href="@{/articles/{id}(id=${article.id}, page=${commentPage},sort=${sort})}"
                                   th:text="${commentPage} + 1"></a>
                            </li>
                            <li class="page-item"
                                th:classappend="${commentsss.number eq commentsss.totalPages - 1 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/articles/{id}(id=${article.id}, page=${commentsss.number} + 1, sort=${sort})}"
                                   th:text="#{lt.codeacademy.blogApplication.articles.paginator.next}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="commentBorder">
            <a th:href="@{/comments/{id}/save(id=${article.id})}"
               class="text-decoration-none"
               style="font-size: 35px; color: black;"
               th:text="#{lt.codeacademy.blogApplication.articleDetail.comment.write}"></a>
        </div>
    </div>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <img th:src="${fotter}" style="width: -webkit-fill-available;">
        </div>
    </nav>
</div>
<div th:if="${article eq null}"
     th:text="#{lt.codeacademy.blogApplication.articleDetail.article.notExist}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/language-switcher.js}"></script>
</body>
</html>