<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:if="${article ne null}" th:text="${'Article ' + article.title + ' Details'}">Article Details</title>

</head>
<body>
   <div th:if="${article ne null}">
     <div>Title: <span th:text="${article.title}"></span></div>
     <div>Content: <span th:text="${article.image}"></span></div>
     <div>Author: <span th:text="${article.content}"></span></div>
     <div>Date: <span th:text="${article.date}"></span></div>
       <div>
           <a th:href="@{/articles/{id}/update(id=${article.id})}">Update Article</a>
       </div>
       <div>
           <a th:href="@{/articles/{id}/delete(id=${article.id})}">Delete Article</a>
       </div>
   </div>
   <div th:if="${article eq null}">
     Article does not exist
   </div>
</body>
</html>