<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${product ne null}" th:text="${'Product ' + product.name + ' Details'}">Product Details</title>
</head>
<body>
<div th:if="${product ne null}">
    <div>Name: <span th:text="${product.name}"></span></div>
    <div>Category: <span th:text="${product.category}"></span></div>
    <div>Description: <span th:text="${product.description}"></span></div>
    <div>Quantity: <span th:text="${product.quantity}"></span></div>
    <div>Price: <span th:text="${product.price}"></span></div>
    <div>
        <a th:href="@{/products/{id}/update(id=${product.id})}">Update Product</a>
    </div>
    <div>
        <a th:href="@{/products/{id}/delete(id=${product.id})}">Delete Product</a>
    </div>
</div>
<div th:if="${product eq null}">
    Product does not exist
</div>
</body>
</html>