<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:with="productExist=${product.name ne null}">
<head>
    <meta charset="UTF-8">
    <title th:text="${productExist ? 'Update product' : 'Create product'}"></title>
</head>
<body>
<h3 th:text="${productExist ? 'Update product:' : 'Create product:'}"></h3>
<form method="post" th:object="${product}">
    <div>
        <label>Product name:</label>
        <input type="text" placeholder="Product name" th:field="*{name}">
    </div>
    <div>
        <label>Product category:</label>
        <input type="text" placeholder="Product category" th:field="*{category}">
    </div>
    <div>
        <label>Product description:</label>
        <textarea th:field="*{description}"></textarea>
    </div>
    <div>
        <label>Product quantity:</label>
        <input type="text" placeholder="Product quantity" th:field="*{quantity}">
    </div>
    <div>
        <label>Product price:</label>
        <input type="text" placeholder="Product price" th:field="*{price}">
    </div>

    <button type="submit" th:text="${productExist ? 'Update product' : 'Create product'}"></button>
</form>
<div th:if="${message}" th:text="${message}"></div>
</body>
</html>