<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="articleExist=${article.id ne null}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title th:if="${articleExist}" th:text="#{lt.codeacademy.blogApplication.article.form.update.pageTitle}"></title>
    <title th:if="${not articleExist}" th:text="#{lt.codeacademy.blogApplication.article.form.create.pageTitle}"></title>
</head>
<body>
<div class="container">
    <h3 th:text="${articleExist ? 'Update article:' : 'Create article:'}"></h3>


    <form th:if="${!articleExist}" method="post" th:object="${article}" th:action="@{/articles/save}">
        pirmas

        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputTitle"
                   th:field="*{title}"
                   th:placeholder="#{lt.codeacademy.blogApplication.article.form.title}"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid': (${article.title ne null} ? 'is-valid' : '')">
            <label for="floatingInputTitle"
                   th:text="#{lt.codeacademy.blogApplication.article.form.title}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('title')}"
                 th:errors="*{title}">
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputImage"
                   th:field="*{image}"
                   th:placeholder="#{lt.codeacademy.blogApplication.article.form.image}"
                   th:classappend="${#fields.hasErrors('image')} ? 'is-invalid': (${article.image ne null} ? 'is-valid' : '')">
            <label for="floatingInputImage"
                   th:text="#{lt.codeacademy.blogApplication.article.form.image}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('image')}"
                 th:errors="*{image}">
            </div>
        </div>


        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputContent"
                   th:field="*{content}"
                   th:placeholder="#{lt.codeacademy.blogApplication.article.form.content}"
                   th:classappend="${#fields.hasErrors('content')} ? 'is-invalid': (${article.content ne null} ? 'is-valid' : '')">
            <label for="floatingInputContent"
                   th:text="#{lt.codeacademy.blogApplication.article.form.content}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('content')}"
                 th:errors="*{content}">
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary" >Create</button>
    </form>
    </div>


    <div th:if="${articleExist}">


        <form method="post" th:object="${article}" th:action="@{/articles/{id}/update(id=${article.id})}">

            <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       id="floatingInputTitl"
                       th:field="*{title}"
                       th:placeholder="#{lt.codeacademy.blogApplication.article.form.title}"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid': (${article.title ne null} ? 'is-valid' : '')">
                <label for="floatingInputTitle"
                       th:text="#{lt.codeacademy.blogApplication.article.form.title}"></label>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('title')}"
                     th:errors="*{title}">
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       id="floatingInputImag"
                       th:field="*{image}"
                       th:placeholder="#{lt.codeacademy.blogApplication.article.form.image}"
                       th:classappend="${#fields.hasErrors('image')} ? 'is-invalid': (${article.image ne null} ? 'is-valid' : '')">
                <label for="floatingInputImage"
                       th:text="#{lt.codeacademy.blogApplication.article.form.image}"></label>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('image')}"
                     th:errors="*{image}">
                </div>
            </div>


            <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       id="floatingInputConten"
                       th:field="*{content}"
                       th:placeholder="#{lt.codeacademy.blogApplication.article.form.content}"
                       th:classappend="${#fields.hasErrors('content')} ? 'is-invalid': (${article.content ne null} ? 'is-valid' : '')">
                <label for="floatingInputContent"
                       th:text="#{lt.codeacademy.blogApplication.article.form.content}"></label>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('content')}"
                     th:errors="*{content}">
                </div>
            </div>


antras


            <button type="submit" class="btn btn-outline-primary" >Update</button>
        </form>
    </div>


    <div th:if="${message}" th:text="${message}"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>