<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:with="articleExist=${comment.id ne null}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<div class="container">


    <form method="post" th:object="${comment}">

        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputText"
                   th:field="*{text}"
                   th:placeholder="#{lt.codeacademy.blogApplication.comment.form.text}"
                   th:classappend="${#fields.hasErrors('text')} ? 'is-invalid': (${comment.text ne null} ? 'is-valid' : '')">
            <label for="floatingInputText"
                   th:text="#{lt.codeacademy.blogApplication.comment.form.text}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('text')}"
                 th:errors="*{text}">
            </div>
        </div>







        <button type="submit" class="btn btn-outline-primary" >Create comment</button>
    </form>

    <div th:if="${message}" th:text="${message}"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>